.text-primary{
    color: #28a741;
}

.text-secondary{
    color: #0284d0;
}
.text-third{
    color: #0284d0;
}

/* .btn{
    background-color: #28a741;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    display: inline-block;
    border-radius: 5px;
    color: #ffff;
} */

.btn:hover{
    opacity: 50px;
}

.cases{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.cases h2{
    margin: 20px 0;
    font-size: 40px;
}

.flex-grid .row{
display: flex;
flex-wrap: wrap;
padding: 40px;
}
.flex-grid .column{
display: flex;
flex-wrap: wrap;
padding: 40px;
}