@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Open+Sans:wght@300&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

ul{
  list-style: none;
  color: #333;
}

a{
  text-decoration: none;
  color: black;
}

h1, h2{
  color: #fff;
}

/* Navbar */
.navbar{
  display: flex;
  align-items: center;
  background-color: #333;
  opacity: 30px;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 30px;
  position: fixed;
  top: 0;
  flex-direction: row;
  width: 100%;
}

.navbar a{
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover{
  border-bottom: #28a741 solid 2px;
  margin-top: 20px;
}


.navbar ul{
display: flex;
margin-left: 20px;
}


.content .btn {
  background-color: #28a741;
  padding: 20px;
 color: white;
 border-radius: 5px;
}


.content a{
  color: white;
}
 /* Header */
 .hero{
  background: url(../images/home/showcase.jpg) no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
 }

 .hero .content{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
 }

 .hero .content h1{
  font-size: 55px;
 }

 .hero .content p{
  font-size: 25px;
  width: 550px;
 }

 .hero::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
 }

 .hero *{
  z-index: 10;

 }

 .hero .btn{
  margin-top: 20px;
  color: white;
 }

  
 
.sol {
  margin-right: 20px;
  padding: 50px;
  display: flex;
  text-align: center;
}

.sol h3{
  font-weight: bold;
  margin-bottom: 15px;
}


.sol p{
  margin: 20px;
}
.sol i{
  background-color: #28a741;
  border-radius: 50px;
  color: #fff;
  padding: 20px;
}



#history{
  height: 450px;
margin-top: 20px;
}

#history .histo-img{
  float: left;
  width: 50%;
  background: url('../images/home/people.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

#history  .content{
  float: right;
  width: 50%;
  max-height: 100%;
  background-color: #28a741;
  color: white;
  text-align: center;
  overflow: hidden;
  line-height: 1.5em;
  min-height: 100%;
}

#history  .content p{
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
text-align: left;
color: #fff;
margin-top: 20px;
}

#history  .content h2{
  padding-left: 30px;
  padding-top: 30px;
  text-align: left;
  font-weight: lighter;
  font-size: 40px;
  line-height: 1em;
}

 .btn{
  background-color: aliceblue;
 }

.content a{
  color: white;
}

.blog h2, p{
  margin-top:20px ;
  color: #333;
  text-align: center;
}


.blog{

}
 .blog .blog-image{
  display: inline-block;
flex-direction: row;
 }
 

 .cases img:hover{
  opacity: 0.7;
 }

 .flex-items{
  display: flex;
  padding: 50px;
  margin-top: 20px;
 }

 .flex-items img{
  width: 100%;
padding: 20px;
border-radius: 50px;
 }

 .flex-items p, h4{
  text-align: center;
 }